@import url(//fonts.googleapis.com/earlyaccess/notosansmyanmar.css);
*, *:before, *:after {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    font-size: 16px;
    background: #FFFFFF;
    font-family: 'Raleway', sans-serif;
}

header {
    height: 70px;
    width: 100%;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.12);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
    -moz-user-select: none;
    user-select: none;
    -webkit-user-select: none;
    padding: 0rem 1rem;
}

.logo-image{
    height: 40px;
    vertical-align: top;
}

.nav li{
    list-style: none;
    display: inline-block;
    margin-right: 2rem;
    font-weight: bold;
    position: relative;
    cursor: pointer;
}

.nav li:hover:before {
    content: "";
    width:100%;
    height: 4px;
    top: calc(100% + 8px);
    background: gold;
    position: absolute;
    bottom: 0;
    border-radius: 5px;
}

/* banner */
.banner{
    color: white;
    display: grid;
    grid-template-columns: 3fr 2fr;
    height: 540px;
    background: #e9e9ef;
}

.welcome-text{
    background-color: #142c41;
    display: flex;
    align-items: center;
    padding: 0rem 2rem;
}

.welcome-text h1{
    font-size: 2.5rem;
    padding: 1.1rem 0rem;
    line-height: 1.73;
}
.welcome-text p{
    padding: 1rem 0rem;
}
.welcome-text button{
    color: white;
    padding: 0.8rem 2rem;
    box-shadow: 0 2px 32px 0 rgba(33, 33, 33, 0.21);
    background-color: #0091ff;
    border-color: transparent;
    margin: 1rem 0rem;
}
.banner > div{
    min-width: 0px;
    position: relative;

}
.img-wrapper{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -100px;
    position: relative;
}
.img-wrapper>img{
    display: none;
}

.img-wrapper>img:nth-child(1){
    width: 65%;
    margin-left: 80px;
}

.img-wrapper>img.zoomIn {
    display: block;
    animation: animateZoom 0.6s;
}

@keyframes animateZoom{
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

.img-wrapper>img:nth-child(2){
    position: absolute;
    bottom: -50px;
    left: 0;
    width: 30%;
}

.img-wrapper>img:nth-child(3){
    position: absolute;
    bottom: -50px;
    left: 55%;
    width: 30%;
}

/* what we do  */
.what-we-do{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ccc;
    padding: 3.5rem 2rem;
}

.what-we-do>div{
    background: white;
    padding: 3rem 2rem;
    text-align: center;
    width: 100%;
    max-width: 700px;
    position: relative;
}

.what-we-do>div:before{
    position: absolute;
    content: "";
    width: 100%;
    height: 5px;
    left: 0;
    top: 0;
    background: #0091ff;
    animation: 5s Easein 1s;
}

.what-we-do>div>h1{
    font-size: 2rem;
    padding: 1.2rem;
    font-weight: bold;
    color: #005aab;
}

.what-we-do>div>p{
    padding: 18px;
    font-weight: 500;
}


@keyframes Easein{
    0% {
        width: 0%;
    }
    30% {
        width: 30%;
    }
    100%{
        width: 100%;
    }
}

/* our services */
.services-container{
    padding: 0rem 2rem;
}

.our-services>div>h1{
    text-align: center;
    color: #005aab;
    font-size: 2rem;
    padding: 1.2rem;
    font-weight: bold;
}
.our-services>div>hr{
    height: 5px;
    width: 5rem;
    background-color: #005aab;
    margin: 0 auto;
}
.our-services-card-style-1{
    display: grid;
    grid-template-columns: 40% 60%;
}

.our-services-card-style-1 .card-item-1{
    background-image: url(/project/assets/img/personal-loan-img.png);
    background-size: cover;
    position: relative;
    z-index: 1;
}

.our-services-card-style-1 .card-item-1::before{
    position: absolute;
    content: "";
    width: 20%;
    height: 85%;
    right: calc(80% + 16px);
    bottom: calc(15% + 16px);
    background: #0091ff;
    z-index: 4;  
}

.our-services-card-style-1 .card-item-2{
    background-color: #ecfaff;
    padding-right: 4rem;
}

.our-services-card-style-1 .card-item-2>.item{
    padding-left: 2rem;
    text-align: left;
    position: relative;
}
.our-services-card-style-1 .card-item-2>.item>.content{
    padding: 3rem 2rem;
}
.our-services-card-style-1 .card-item-2>.item:after{
    position: absolute;
    content: "";
    width: 20%;
    height: 85%;
    left: calc(80% + 6px);
    top: calc(15% + 6px);
    background: #0091ff;  
}

.our-services-card-style-1>.card-item-2>.item>.content>button{
    color: #0091ff;
    padding: 0.8rem 2rem;
    background-color: transparent;
    border: 1px solid #005aab;
}
.our-services-card-style-1 .card-item-2>.item>.content>h2{
    font-family: 'Noto Sans Myanmar', sans-serif;
    color: #1d0c8e;
    padding: 1rem 0rem;
}
.our-services-card-style-1 .card-item-2 .lifetime{
    text-align: center;
    max-width: 12rem;
    padding: 0.5rem;
    background-color: #c9e5ff;
}
.our-services-card-style-1 .card-item-2 .text{
    padding: 1.5rem 0rem;
}

/* Meet our team */

.meet-our-team{
    background-image: radial-gradient(circle at 50% 50%, #007be7, #003a6d 84%);
    display: flex;
    justify-content: center;
    padding: 40px;
}

.meet-our-team>.swiper-wrapper>.swiper-slide{
    display: flex;
    padding: 20px;
}

.meet-our-team>.swiper-wrapper>.swiper-slide>.item{
    margin: 30px;
    width: 250px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background-image: url(/project/assets/img/customer-img.png);
    background-size: cover;
}

.meet-our-team>.swiper-wrapper>.swiper-slide>.item>.icons{
    padding: 10px;
}

.meet-our-team>.swiper-wrapper>.swiper-slide>.item>.role{
    display: block;
    padding: 15px;
    background-color: white;
    width: 100%;
    text-align: center;
}
.meet-our-team>.swiper-wrapper>.swiper-slide>.item>.role>p:nth-child(1){
    color: rgba(0, 0, 0, 0.85);
    font-size: 1rem;
    padding: 10px;
}
.meet-our-team>.swiper-wrapper>.swiper-slide>.item>.role>p:nth-child(2){
    font-size: 0.5rem;
    color: #6d7278;
}
