.banner{
    color: white;
    display: grid;
    grid-template-columns: 3fr 2fr;
    height: 30.5rem;
    @include bp(desktop-big){
        height: 40rem;
    }
    @include bp(desktop){
        height: 39rem;
    }
    @include bp(desktop-1){
        height: 32.5rem;
    }
    @include bp(laptop-1){
        height: 26.5rem;
    }
    background: #e9e9ef;

    .welcome-text{
        background-color: #142c41;
        display: flex;
        align-items: center;
        padding: 3rem 5rem;
        min-width: 0px;
        position: relative;

        h1{
            font-size: 2.5rem;
            @include bp(desktop-big){
                font-size: 3.5rem;
            }
            @include bp(desktop){
                font-size: 3.4rem;
            }
            @include bp(laptop-1){
                font-size: 2rem;
            }
            padding: 1.1rem 0rem;
            line-height: 1.73;
            position: relative;

            &:before{
                position: absolute;
                content: "";
                width: 70%;
                height: calc(100% + 30px);
                right: -100px;
                top: -50px;
                background-image: url(/img/rectangle-copy-27.png);
            }
        }

        p{
            padding: 1rem 0rem;
        }

        button{
            color: white;
            padding: 0.8rem 2rem;
            box-shadow: 0 2px 32px 0 rgba(33, 33, 33, 0.21);
            background-color: #0091ff;
            border-color: transparent;
            margin: 1rem 0rem;
            width: 14rem;

            &:after{
                content: ' \2192';
                font-size: 1.3rem;
                padding: 0rem 2rem;
            }
        }

        .item{
            position: relative;

            &:after{
                position: absolute;
                content: "";
                width: 15%;
                height: 80%;
                right: -215px;
                bottom: -70px;
                background-image: url(/img/rectangle.png);
            }

            &:before{
                position: absolute;
                content: url(/img/rectangle-copy-27.png);
                right: 250px;
                bottom: -90px;
            }
        }
        
        
    }

    .img-container{

        background-color: #e8f9ff;
        .img-wrapper{
        
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: -100px;
            position: relative;
    
            img{
                display: none;
    
                &:nth-child(1){
                    width: 80%;
                    height: auto;
                    margin-left: 50px;
                    border: 1px solid #005abb;
                    padding: 5px;
                    border-top-left-radius: 2em;
                    border-bottom-right-radius: 2em;
    
                }
    
                &:nth-child(2){
                    position: absolute;
                    bottom: -50px;
                    left: 0;
                    width: 40%;
                    height: auto;
                }
    
                &:nth-child(3){
                    position: absolute;
                    bottom: -58px;
                    left: 60%;
                    width: 40%;
                    height: auto;
                }
    
            }
    
            .zoomIn {
                display: block;
                box-shadow: 0 8px 16px 0 rgba(182, 182, 182, 0.1);
                animation: animateZoom 0.6s;
    
                @keyframes animateZoom{
                    from {
                        transform: scale(0);
                    }
                    to {
                        transform: scale(1);
                    }
                }
            }
    
        }
    }
}

@media screen and (max-width: 1050px){
    .banner{

        .welcome-text{

            .item{
                &:after{
                    height: 58%;
                    right: -66px;
                    bottom: -32px;
                }
            }

        }

    }  
}