
header {
    height: 4.5rem;
    @include bp(desktop-big){
        height: 5.5rem;
    }
    @include bp(desktop){
        height: 5.5rem;
    }
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.12);
    display: flex;
    justify-content: space-between;
    align-items: center;
    // font-size: 1rem;
    -moz-user-select: none;
    user-select: none;
    -webkit-user-select: none;
    padding: 0rem 1rem;

    .logo{
        a{
            .logo-image{
                height: 40px;
                vertical-align: top;
            }
        }
    }
    .navbar{
        ul{
            li{
                list-style: none;
                display: inline-block;
                margin-right: 2rem;
                font-weight: bold;
                position: relative;
                cursor: pointer;
                
                a{
                    text-decoration: none;
                    color: black;
                }
            }
        }

        .nav{
            .nav-item{
                &:hover:before{
                                content: "";
                                width:100%;
                                height: 4px;
                                top: calc(100% + 5px);
                                background: gold;
                                position: absolute;
                                bottom: 0;
                                border-radius: 5px;
                            }
            }
        }
    }
    // .nav{
    //     li{
    //         list-style: none;
    //         display: inline-block;
    //         margin-right: 2rem;
    //         font-weight: bold;
    //         position: relative;
    //         cursor: pointer;
    //     }

    //     .nav-item{

    //         &:hover:before{
    //             content: "";
    //             width:100%;
    //             height: 4px;
    //             top: calc(100% + 8px);
    //             background: gold;
    //             position: absolute;
    //             bottom: 0;
    //             border-radius: 5px;
    //         }
    //     }
    // }
}

