@mixin bp($point) {
    @if $point == desktop-big{
      @media screen and (min-width: 1700px) and (max-width: 1920px) { @content; }
    }
    @else if $point == desktop {
      @media screen and (min-width: 1600px) and (max-width: 1680px) { @content; }
    }
    @else if $point == desktop-1 {
      @media screen and (min-width: 1360px) and (max-width: 1440px) { @content; }
    }
    @else if $point == laptop {
        @media screen and (min-width: 1280px) and (max-width: 1350px) { @content; }
    }
    @else if $point == laptop-1 {
      @media screen and (min-width: 1024px) and (max-width: 1200px) { @content; }
    }
}   