@mixin heading-usage($color) {
    h1{
        text-align: center;
        color: $color;
        font-size: 2rem;
        @include bp(desktop-big){
            font-size: 2.5rem;
        }
        padding: 1.2rem;
        font-weight: bold;
    }

    hr{
        height: 5px;
        width: 5rem;
        background-color: $color;
        margin: 0 auto;
    }
}

//  our services
@mixin photo-card-style {
    // background-size: cover;
    position: relative;
    z-index: 1;
    width: 34rem;
    @include bp(desktop-big){
        width: 46rem;
        height: 34.5rem!important;
    }
    @include bp(desktop){
        width: 40rem;
        height: 27.5rem!important;
    }
    @include bp(desktop-1){
        width: 35rem;
        height: 24.5rem;
    }
    @include bp(laptop){
        width: 30rem;
        height: 23.5rem!important;
    }
    @include bp(laptop-1){
        width: 25rem;
        height: 21.5rem!important;
    }

    &:before{
        position: absolute;
        content: "";
        width: 20%;
        height: 85%;
        right: 79%;
        bottom: 14%;
        background-color: transparent;
        border-left: 1rem solid #0091ff;
        border-top: 1rem solid #0091ff;
        z-index: 4;  
        }
}

@mixin photo-card-style-2 {
    // background-size: cover;
    position: relative;
    z-index: 1;
    width: 34rem;
    @include bp(desktop-big){
        width: 46rem;
        height: 34.5rem!important;
    }
    @include bp(desktop){
        width: 40rem;
        height: 27.5rem!important;
    }
    @include bp(desktop-1){
        width: 35rem;
        height: 24.5rem;
    }
    @include bp(laptop){
        width: 30rem;
        height: 23.5rem!important;
    }
    @include bp(laptop-1){
        width: 25rem;
        height: 21.5rem!important;
    }

        &:after{
            position: absolute;
            content: "";
            width: 20%;
            height: 85%;
            left: 80%;
            bottom: 15%;
            background-color: transparent;
            border-right: 1rem solid #0091ff;
            border-top: 1rem solid #0091ff;
            z-index: 4; 
        }
}

@mixin our-services-photo-card-responsive-1024 {
    .card-item-1-1{
        width: 25rem;
        height: 21.5rem;
    }
    .card-item-1-2{
        width: 25rem;
        height: 21.5rem;
    }
    .card-item-1-3{
        width: 25rem;
        height: 21.5rem;
    }
    .card-item-1-4{
        width: 25rem;
        height: 21.5rem;
    }
    
}

@mixin text-card-responsive-1024 {
    .card-item-2{
        .item{
            .content{

                h2{
                    font-size: 1rem;
                    padding: 0.5rem 0rem!important;
                }

                .lifetime{
                        font-size: 0.7rem;
                        max-width: 9rem;
                        padding: 0.1rem!important;
                }

                .text{
                    padding: 1rem 0rem;
                    font-size: 0.6rem;
                }
            }

            button{
                font-size: 0.8rem!important;
                padding: 0.3rem 1rem!important;
            }
        
        }

    }
    
}

@mixin our-services-photo-card-responsive-1280 {
    .card-item-1-1{
        width: 30rem;
    }
    .card-item-1-2{
        width: 30rem;
    }
    .card-item-1-3{
        width: 30rem;
    }
    .card-item-1-4{
        width: 30rem;
    }
    
}

@mixin text-card-responsive-1280 {
    .card-item-2{
        .item{
            .content{

                h2{
                    font-size: 1.3rem;
                    padding: 1rem 0rem!important;
                }

                .lifetime{
                        font-size: 0.8rem;
                        max-width: 11rem;
                        padding: 0.3rem!important;
                }

                .text{
                        font-size: 0.8rem;
                }
            }

        }

    }
    
}