@import 'variables';
@import 'usage';

.what-we-do{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 3.5rem 15rem;
    @include bp(laptop-1){
        padding: 3.5rem 12rem;
    }
    margin: 3rem 0rem;
    

    div{
        height: 35rem;
        background: white;
        // padding: 3rem 2rem;
        text-align: center;
        width: 100%;
        @include bp(desktop-big){
            // max-width: 70%;
        }
        @include bp(desktop){
            // max-width: 70%;
        }
        @include bp(desktop-1){
            // max-width: 60%;
        }
        @include bp(laptop){
            height: 26rem;
        }
        @include bp(laptop-1){
            height: 21rem;
        }
        position: relative;

        // &:before{
        //     position: absolute;
        //     content: "";
        //     width: 100%;
        //     height: 5px;
        //     left: 0;
        //     top: 0;
        //     background: #0091ff;
        //     animation: 7s Easein 3s;

        //     @keyframes Easein{
        //         0% {
        //             width: 0%;
        //         }
        //         30% {
        //             width: 30%;
        //         }
        //         100%{
        //             width: 100%;
        //         }
        //     }

        // }

        .scroll-bar{
            width: 100%;
            height: 5px;
            background: #0091ff;
    
            &.hidden{
               
                    display: none;
                
            }
        }
    
        .ease-in{
            animation: 7s Easein 1s;
    
            @keyframes Easein{
                0% {
                    width: 0%;
                }
                30% {
                    width: 30%;
                }
                100%{
                    width: 100%;
                }
            }
        }
      


        h1{
            font-size: 2rem;
            @include bp(desktop-big){
                font-size: 2.5rem;
                padding-top: 6rem;
                padding-bottom: 4rem;
            }
            @include bp(desktop){
                padding-top: 6rem;
                padding-bottom: 4rem;
                font-size: 2.5rem;
            }
            @include bp(laptop-1){
                padding-top: 3rem;
                padding-bottom: 2rem;
            }
            padding-top: 4rem;
            padding-bottom: 3rem;
            font-weight: bold;
            color: #005aab;
        }

        p{
            @include bp(desktop){
                font-size: 1.5rem;
                line-height: 2.5rem;
            }

            @include bp(desktop-big){
                font-size: 1.5rem;
                line-height: 3.5rem;
            }
            @include bp(laptop-1){
                line-height: 1.8rem;
            }
            padding-top: 1rem;
            padding-bottom: 3rem;
            font-weight: 500;
        }

    }

    
}